.sidebar-profile-pic img {
  border-radius: 50%;
  margin-top: 10px;
  height: 135px;
  width: 135px;
  display: flex;
  vertical-align: middle;
  margin: 0 auto;
  object-fit: cover;
  border: 2px solid yellowgreen;
}

.nav-items ul li {
  color: white;
  list-style: none;
  cursor: pointer;
  margin-top: 25px;
}

.nav-items ul li svg {
  margin-left: 10px;
  margin-right: 25px;
}

.nav-items ul li a {
  text-decoration: none;
}

.navItems-iconsOnly {
  margin-top: 10px;
  cursor: pointer;
  list-style: none;
}

.navItems-iconsOnly svg {
  margin-left: 10px;
}

.nav-items .active {
  border-left: 3px solid yellowgreen;
  color: yellowgreen;
}
